VITE_FIREBASE_API_KEY=AIzaSyCjSmzzcyDSOakEgL2LhmDBAcWDskFUj64
VITE_FIREBASE_AUTH_DOMAIN=gardenus-kr.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gardenus-kr
VITE_FIREBASE_STORAGE_BUCKET=gardenus-kr.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=723266936080
VITE_FIREBASE_APP_ID=1:723266936080:web:11b8e1a048fb3847b45995
VITE_FIREBASE_MEASUREMENT_ID=G-VY5CQS1NE4

# Phone Auth 테스트 모드
VITE_USE_PHONE_TEST_MODE=true
VITE_PHONE_TEST_CODE=123456

# PortOne V2
VITE_PORTONE_STORE_ID=
VITE_PORTONE_CHANNEL_KEY=