# OS
.DS_Store
Thumbs.db

# Node / Web
node_modules/
.next/
dist/
build/
*.log

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.podspec

# IDE
.vscode/
.idea/
*.iml
