# OS
.DS_Store
Thumbs.db

# Node / Web
node_modules/
.next/
.vite/
dist/
build/
*.log

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.podspec

# Env
.env
.env.local

# Secrets
serviceAccount.json
*-firebase-adminsdk-*.json

# Output / logs
out/
firepit-log.txt

# IDE
.vscode/
.idea/
*.iml
